{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="container">
    <h1>User Profile</h1>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
</div>
<h2>Your Tours</h2>
<ul>
    {% for tour in user.tours.all %}
        <li><a href="{% url 'tour_detail' tour.id %}">{{ tour.name }}</a></li>
    {% endfor %}
</ul>

<h2>Your Agents</h2>
<ul>
    {% for agent in user.agents.all %}
        <li><a href="{% url 'agent_detail' agent.id %}">{{ agent.name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
